h1{
    background: #33efff;
    text-align-last: center;
} /*----selector de etiqueta, tipo elemento----*/
h2 span{
    color: #4b597c;
} /*----selector desendente----*/
.susecion{
    background: #5988ce;
    color: #FFF;
    height: 200px;
    padding-top: 1px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
} /*----selector de clase----*/
#posicioncivil{
    background: #1C89C9;
    color: #e23434;
    float: left;
    width: 110px;
}
